/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(152, 120, 208, 0.12);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup Card */
.popup {
  width: 420px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(124, 58, 237, 0.25);
  border: 1px solid #ede9fe;
  animation: popupScale 0.25s ease;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 0px 20px;
  /* border-bottom: 1px solid #ede9fe; */
}

.header h3 {
  font-size: 16px;
  font-weight: 600;
  color: #4c1d95;
}

/* Close button */
.closeBtn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #7c3aed;
}

.closeBtn:hover {
  color: #5b21b6;
}

/* Content */
.content {
  padding: 8px 20px 16px 20px;
  font-size: 14px;
  color: #374151;
  line-height: 1.6;
}

/* Footer */
.footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 14px 20px;
  /* border-top: 1px solid #ede9fe; */
}

/* Buttons */
.cancelBtn {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  color: #374151;
  cursor: pointer;
}

.cancelBtn:hover {
  background: #f9fafb;
}

.primaryBtn {
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  background: #7c3aed;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.primaryBtn:hover {
  background: #6d28d9;
}

/* Animation */
@keyframes popupScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
